<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Welcome to World of Pokemon!</title>
        <link rel="stylesheet" href="/css/app.css"/>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    </head>
    <body>
        <img src="/images/oak.png" alt="Professor Oak">
        
        <h1>Welcome to World of Pokemon!</h1>

        <nav>
            <p><a href="/players/signup">New Game</a></p>
            <p><a href="/players/login">Continue</a></p>
        </nav>
    </body>
</html>