<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erm, Who Are You?</title>
    <link rel="stylesheet" href="/css/app.css"/>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Erm, Who Are You?</h1>

    <form action="/players/login" method="POST">
        <div class="input">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
        </div>
        <input type="submit" name="" value="Login">
    </form>
    
    <form action="/players">
        <input type="submit" value="Return to Title">
    </form>
</body>
</html>